.company {
  padding-top: rem(40);
  padding-bottom: rem(40);
  @include mq("md") {
    padding-top: rem(60);
    padding-right: rem(25);
    padding-bottom: rem(52);
    padding-left: rem(25);
  }
  &__inner {
    position: relative;
    text-align: center;
    padding-top: rem(42);
    padding-bottom: rem(86);
    max-width: rem(600);
    margin-right: auto;
    margin-left: auto;
    @include mq("md") {
      max-width: rem(1300);
    }
  }

  &__img-circles {
    z-index: -9999;
    position: absolute;
    top: 0;
    right: rem(11);
    min-width: rem(364);
    // min-height: rem(590);
    // width: rem(364);
    height: rem(590);

    @include mq("md") {
      max-width: rem(864);
      width: calc(100% - 44px);
      min-height: auto;
      left: rem(44);
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__img-face {
    @include mq("md") {
      z-index: -9998;
      position: absolute;
      max-width: rem(1300);
      top: rem(144);
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__heading {
    @include mq("md") {
      padding-top: rem(94);
    }
  }

  &__title {
    padding-left: rem(2);
  }

  &__sub-title {
    padding-top: rem(3);
    padding-left: rem(1.5);
  }

  &__copy {
    font-family: $second-font-family;
    font-size: rem(32);
    padding-top: rem(18);
    letter-spacing: ls(50em);
    line-height: calc(48 / 32);
    font-weight: $medium;
    padding-left: rem(2);

    @include mq("md") {
      font-size: rem(40);
      padding-top: rem(27);
      padding-left: rem(4);
    }
  }

  &__text {
    font-family: $second-font-family, $base-font-family;
    font-size: rem(14);
    letter-spacing: ls(50em);
    font-weight: $light;
    line-height: calc(26 / 14);
    padding-top: rem(35);
    @include mq("md") {
      font-size: rem(15);
      padding-left: rem(1);
    }
  }

  &__btn {
    padding-top: rem(21);
    padding-right: rem(20);
    @include mq("md") {
      padding-top: rem(25);
      padding-right: 0;
    }
  }
}
