.title {
  font-size: rem(30);
  font-weight: $bold;
  color: $primary-color;
  text-transform: uppercase;
  line-height: calc(37 / 30);
  letter-spacing: ls(50em);

  @include mq("md") {
    font-size: rem(36);
    letter-spacing: ls(50em);
    line-height: calc(44 / 36);
  }
}
