.media {
  max-width: rem(600);
  width: 100%;

  &__img {
  }
  &__title {
    font-size: rem(18);
    font-weight: $bold;
    line-height: calc(22 / 18);
    letter-spacing: ls(50em);
    text-align: center;
    padding-top: rem(14);

    @include mq("md") {
      padding-top: rem(26);
    }
  }

  &__description {
    font-family: $second-font-family, $base-font-family;
    font-size: rem(14);
    letter-spacing: ls(50em);
    font-weight: $light;
    line-height: calc(25 / 14);
    padding-top: rem(10);

    @include mq("md") {
      font-size: rem(15);
      line-height: calc(27 / 15);
      padding-top: rem(13);
    }
  }
}
